<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App 🌡️</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <div class="main-content">
        <div class="left-content">
            <h1>{{temp}}°C {{city}}</h1>
        </div>
        <div class="right-content">
            <div class="search">
                <form action="/weather" method="post">
                    <input type="text" name="city" id="search-bar" placeholder="city">
                    <button type="submit" id="search-button">Search</button>
                </form>

                

            </div>


            <div class="weather-details">
                <div class="name">
                    <h1>Weather<br>Conditions</h1>
                </div>
                <div class="conditions">
                    <ul>
                        <li>WIND-SPEED</li>
                        <li>HUMUDITY</li>
                        <li>CLOUDS</li>
                        <li>PRESSURE</li>
                    </ul>
                </div>
                <div class="values">
                    <ul>
                        <li>{{wind_speed}}m/s</li>
                        <li>{{HUMUDITY}}%</li>
                        <li>{{CLOUDS}}%</li>
                        <li>{{PRESSURE}}hpa</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>

</html>